#appMainSettings {
    width: 100%;
    padding: 8px 15px 0px 14px;

    .list-group-item {
        &:hover {
            cursor: pointer;
        }
    }

    .active-item {
        background: #1179b6;
        color: white;
    }
}
