<div id="appContainer">
  <app-header (changeModule)="changeItem($event)"></app-header>
  <div class="containerInfo">
    <ng-container *ngIf="itemMenuSelected === 0">
      <div class="containerDiv">
        <app-main-monitoring></app-main-monitoring>
      </div>
    </ng-container>
    <ng-container *ngIf="itemMenuSelected === 1">
      <div class="containerDiv">
        <app-events></app-events>
      </div>
    </ng-container>
    <ng-container *ngIf="itemMenuSelected === 2">
      <div class="containerDiv">
        <app-main-settings></app-main-settings>
      </div>
    </ng-container>
  </div>
</div>