#appTableDevices {
    width: 100%;

    .iconMen {
        color: #003756;
    }
    
    .tableContainer {
        table {
            border: 1px solid rgba(84, 84, 85, 0.1);
            margin-bottom: 0px !important;
        }
        th {
            color: rgb(255, 255, 255);
            border: none;
            font-weight: 800;
        }

        thead {
            border: none;
            border-bottom: 1px solid rgba(84, 84, 85, 0.1);
            //      background: #003756;
            background: #003756;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
        }
    }
    table tbody,
    table thead {
        display: block;
        margin-bottom: 0px !important;
        text-align: center;
    }
    thead {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }
    tbody {
        tr {
            &:hover {
                background: #dbdddf36;
                cursor: pointer;
            }
        }
        label {
            &:hover {
                cursor: pointer;
            }
        }
    }
    tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }
}
