#appRoles {
    width: 100%;

    .header {
        width: 100%;
        margin-bottom: 10px;
    }

    .customForm {
        width: 280px !important;
    }

    .customCls {
        width: 280px !important;
    }

    .footerButtons {
        width: 100%;
        margin-top: 8px;
        text-align: right;
    }
}

#modalDeleteRol {
    width: 100%;

    .containerName {
        width: 100%;
        text-align: center;
        h3 {
            color: rgb(84, 84, 84);
        }
    }
}
::ng-deep ng-select.customCls {
    width: 280px !important;
}
