#appMonitoring {
    width: 100%;
    text-align: center;
    position: relative;
    
    .contentMap {
        width: 100%;
        height: 400px;
        position: relative;
        border-bottom: 1px solid;
    }

    .containerMenu {
        z-index: 1;
        width: 525px;
        position: absolute;
        top: 10px;
        border: 1px solid rgba(113, 113, 113, 0.347);
        border-radius: 4px;
        background: white;
        padding: 10px;
        margin-left: 10px;

        .row {
            width: 100%;
        }
    }

    .contentList {
        width: 90%;
        position: absolute;
        bottom: 0px;
        left: 4%;
    }

    .content-list-devices {
        background: white;
        border: 1px solid rgba(199, 199, 199, 0.272);
        height: 200px;
    }

    .active {
        height: 0px;
    }

    .buttonSlide {
        background: #00365649;
        border: 1px solid #003756;
        color: #003756;
        border-bottom: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        width: 80px;
    }
}

@media only screen and (max-width: 600px), (min-width: 600px) and (max-width: 600px) {
    #appMonitoring {
        .containerMenu {
            width: 60%;
        }
    }
}
